extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  p Mozilla Developer Network のチュートリアル例として開発された、非常に基本的な Express ウェブサイトである #[em LocalLibrary] へようこそ。
  p 欢迎来到 #[em LocalLibrary]，这是一个非常基础的 Express 网站，作为 Mozilla 开发者网络上的教程示例而开发。
  p Добро пожаловать в #[em LocalLibrary], очень простой веб-сайт на Express, разработанный в качестве учебного примера в сети разработчиков Mozilla.


  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
